.container {
  display: flex;
  margin: auto;
  margin: 20px;
  width: 90vw;
}
.left-container {
  margin: 20px;
  /* font-size: 25px; */
  /* font-weight: bold; */
  padding: 10px;
  width: 30vw;
  font-size: 20px;
  border: 1px solid transparent;
  background-color: #f7fafc;
  color: grey;
}
.deposits_value {
  color: red;
  font-size: 50px;
  font-weight: 500;
}
/* h4{
} */

.right-container {
  margin: 20px 80px;
  padding: 10px 30px 30px;
  width: 40vw;
  font-size: 25px;
  border: 1px solid transparent;
  background-color: #f7fafc;
  opacity: 75;
  color: grey;
}

.arrow {
  height: 5vh;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
}
.threshold_value {
  color: orange;
  font-size: 40px;
  font-weight: bold;
  /* margin-right: 60px; */
  /* padding-right:0px; */
  margin: 20px  10px 30px 10px;
}
.form-container {
  display: flex;
  text-align: center;
}
.gas-limit-number{
  font-size:20px;
  margin:5px 0px 10px ;
}
.submit {
  border-radius: 7px;
  width: 190px;
  height: 60px;
  background-color: pink;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  /* padding: 10px 5px; */
  margin: 10px 5px;
  /* margin: 5px; */
  /* transition-duration: 0.4s; */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
/* .button:hover {
  /* background-color: #3e8e41; */
/* } */

.submit:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.submit-monitoring {
  border-radius: 7px;
  width: 190px;
  height: 60px;
  background-color: pink;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  /* padding: 10px 5px; */
  /* margin: 10px; */
  /* margin: 5px; */
  /* transition-duration: 0.4s; */
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}
/* .button:hover {
  /* background-color: #3e8e41; */
/* } */

.submit-monitoring:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}
